body {
    background-color: #e9b000;
    color: #fff;
    font-family: sans-serif;
}
._color-scheme-light {
     background-color: #f9f9f9;
     color: #000;
 }
._color-scheme-light .b-tasks {
    background-color: #d3af57;
}
.b-tasks {
    background-color: #9b2837;
    width: 450px;
    margin: 40px auto;
    box-shadow: 1px 1px 5px #000;
}
.l-tasks {
    padding: 20px;
}
.l-tasks_inner {
    padding-top: 20px;
    font-style: italic;
}
.l-tasks_item {
    display: block;
}
._color-scheme-light .l-tasks_item:nth-child(n+2) {
    border-top:1px dashed #000;
}
.l-tasks_item:nth-child(n+2) {
    margin-top: 20px;
    border-top:1px dashed #fff;
}
.l-tasks_item:nth-child(3){
    padding-top: 15px;
}
._color-scheme-light .l-tasks_btn {
    background-color: #555354;
    color: #f9f9f9;
}
.l-tasks_btn {
    background-color: #c4c4c4 ;
    padding: 10px;
    color: #9b2837;
    font-weight: 700;
    border: 1px solid #fff;
}
._remove {
    margin-top: 15px;
}
