body {
    background-color: #1a507b;
    display: flex;
    justify-content: center;
}

.b-universe {
    position: relative;
    background-color: aqua;
    display: inline-block;
    width: 600px;
    height: 400px;
    margin-top: 50px;
}

.b-universe__img {
    position: absolute;
    transition: transform .2s ease-out;
    width: 100px;
}
