body {
	height: auto;
	padding: 50px;
	font-family: sans-serif;
	background: #1e4542;
	display: flex;
	justify-content: center;
}

.b-shooter {
	position: relative;
	background-image: url(../img/cemetery-cartoon-background.jpg);
	display: inline-block;
	width: 800px;
	height: 600px;
	margin-top: 50px;
	overflow: hidden;
}

.b-shooter__aim {
	position: absolute;
	width: 90px;
	height: 90px;
	transition: transform .2s ease-out;
	top: 0;
	left: 0;
	z-index: 2;
}

.b-shooter__img-aim {
	position: absolute;
	width: 100px;
}

.b-shooter__img-fire {
	position: absolute;
	width: 100px;
	height: 130px;
	left: 0;
	bottom: 0;
	transition: opacity ease-in;
	visibility: hidden;
}

.b-shooter__img-ghost {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	animation: ghost-movements 2s infinite;
	transition: opacity ease-in;
	z-index: 1;
}

.b-shooter__progress {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: rgba(6,6,6,.5);
	width: 40px;
	height: 500px;
	border-radius: 50px;
	position: absolute;
	left: 5px;
	margin: auto 0;
	top: 0;
	bottom: 0;
	align-items: center;
}

.b-shooter__progress-icon {
	width: 28px;
	margin-top: 20px;
	text-align: center;
}

.b-shooter__health {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(6,6,6,.5);
	width: 180px;
	height: 50px;
	border-radius: 50px;
	position: absolute;
	margin: 0 auto;
	bottom: 5px;
	right: 5px;
}

.b-shooter__health-icon {
	fill: #ff0000;
	width: 35px;
	margin: auto 9px;
}

@keyframes ghost-movements {
	0% {
		transform: scale(1,1) translateY(0);
	}

	10% {
		transform: scale(1.1, .9) translateY(0);
	}

	30% {
		transform: scale(.9, 1.1) translateY(-50px);
	}

	50% {
		transform: scale(1.05,.95) translateY(50px);
	}

	80% {
		transform: scale(.9,1.1) translateY(-30px);
	}

	100% {
		transform: scale(1) translateY(0);
	}
}

.progress {
	transform: rotate(180deg);
	opacity: 0.2;
	transition: all 0.2s ease-in-out;
}

.health {
	transform: scale(0.75,0.75);
	fill: rgba(90,87,98,0.7);
	transition: all 0.2s ease-in-out;
}